@using TARSTestJosue.ViewModels
@model EditModel
@{
    ViewData["Title"] = "Edit component";
    var currencies = new List<SelectListItem>
    {
        new SelectListItem {Text = "(USD) Dolar americano", Value = "$"},
        new SelectListItem {Text = "(BRL) Real", Value = "R$"}
    };
}
<h1>@ViewData["Title"]</h1>
<form class="row p-2" method="Post">
    <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <header class="col-12">
        <h3>Scope</h3>
        <hr/>
		<span class="row mb-3">
			<fieldset class="form-group col-sm-6">
				<label asp-for="Category" class="control-label"></label>
				<input asp-for="Category" required max-length="100" class="form-control" list="categorys"/>
				<span asp-validation-for="Category" class="text-danger"></span>
				<datalist id="categorys">
					@foreach(var item in Model.Categorys){
						<option value="@item">@item</option>
					}
				</datalist>
			</fieldset>
			<fieldset class="form-group col-sm-6">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" required max-length="100" class="form-control" list="names" />
				<span asp-validation-for="Name" class="text-danger"></span>
				<datalist id="names">
					@foreach(var item in Model.Names){
						<option value="@item">@item</option>
					}
				</datalist>
			</fieldset>
		</span>
    </header>
	<main class="col-sm-7">
		<h3>Product</h3>
		<spen class="row mt-4 mb-3">
			<fieldset class="form-group col-sm-6">
				<label asp-for="Requirement" class="control-label">Requisite</label>
				<input asp-for="Requirement" max-length="100" class="form-control" value="@Model.Requirement" />
				<span asp-validation-for="Requirement" class="text-danger"></span>
			</fieldset>
			<fieldset class="form-group col-sm-5">
				<label asp-for="Company" class="control-label">Marker</label>
				<input asp-for="Company" max-length="100" class="form-control" list="brands" />
				<span asp-validation-for="Company" class="text-danger"></span>
					<datalist id="brands">
						@foreach(var item in Model.Brands){
							<option value="@item">@item</option>
						}
					</datalist>
			</fieldset>
			<fieldset class="form-group col-sm-6">
				<label asp-for="Product" class="control-label"></label>
				<input asp-for="Product" max-length="100" class="form-control" />
				<span asp-validation-for="Product" class="text-danger"></span>
			</fieldset>
			<fieldset class="form-group col-sm-5">
				<label asp-for="Version" class="control-label"></label>
				<input asp-for="Version" max-length="100" class="form-control" />
				<span asp-validation-for="Version" class="text-danger"></span>
			</fieldset>
			<fieldset class="form-group col-sm-6">
				<label asp-for="URL" class="control-label"></label>
				<input asp-for="URL" max-length="300" class="form-control" />
				<span asp-validation-for="URL" class="text-danger"></span>
			</fieldset>
			<fieldset class="form-group col-12">
				<label asp-for="Extra" class="control-label"></label>
				<textarea asp-for="Extra" max-length="200" class="form-control" rows="5"></textarea>
				<span asp-validation-for="Extra" class="text-danger"></span>
			</fieldset>

		</spen>
	</main>
    <aside class="col-sm-4 align-self-end">
		<h3>Status</h3>
		<fieldset class="form-group mt-4">
			<label asp-for="Priority" class="control-label">Priority of choose</label>
			<input asp-for="Priority" required class="form-control" />
			<span asp-validation-for="Priority" class="text-danger"></span>
		</fieldset>
        <fieldset class="form-group">
            <label asp-for="Status" max-length="30" class="control-label"></label>
            <select asp-for="Status" required class="form-control"
			asp-items=@Model.StatusOptions>
			</select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </fieldset>
        <fieldset class="form-group">
            <label asp-for="DateBuy" class="control-label"></label>
            <input asp-for="DateBuy" class="form-control"
				disabled="@(Model.Status != Status.Purchased.Description)" />
            <span asp-validation-for="DateBuy" class="text-danger"></span>
        </fieldset>
        <fieldset class="form-group">
            <label asp-for="DolarRealBuy" class="control-label"></label>
            <input asp-for="DolarRealBuy" class="form-control"
				disabled="@(Model.Status != Status.Purchased.Description)" />
            <span asp-validation-for="DolarRealBuy" class="text-danger"></span>
        </fieldset>
    </aside>
	<footer id="offers-panel" class="col-12 row">
		<h4 class="d-flex justify-content-between">Offers
			<button class="ml-auto btn btn-outline-primary add-offer" type="button">Add</button></h4>
		<hr />
		@if(Model.Amount != null){
			@for(int x=0; x<Model.Amount.Length;x++){
				<article class="col-sm-4">
					<fieldset class="form-group mb-2">
							<label asp-for="Store" class="control-label">Url</label>
							<input asp-for="Store" required max-length="100" class="form-control" value="@Model.Store[x]" />
							<span asp-validation-for="Store" class="text-danger"></span>
					</fieldset>
					<fieldset class="form-group mb-2">
							<label asp-for="URLs" class="control-label"></label>
							<input asp-for="URLs" required max-length="300" class="form-control" value="@Model.URLs[x]" />
							<span asp-validation-for="URLs" class="text-danger"></span>
					</fieldset>
					<fieldset class="form-group mb-2">
							<label asp-for="Amount" class="control-label"></label>
							<input asp-for="Amount" required class="form-control" value="@Model.Amount[x]" />
							<span asp-validation-for="Amount" class="text-danger"></span>
					</fieldset>
					<fieldset class="form-group mb-2">
							<label asp-for="Currency" class="control-label"></label>
							<select value="@Model.Currency[x]" max-length="5" required name="Currency" class="form-control">
								<option selected="@(Model.Currency[x] == "$")" value="$">(USD) Dolar</option>
								<option selected="@(Model.Currency[x] == "R$")" value="R$">(BRL) Real</option>
							</select>
							<span asp-validation-for="Currency" class="text-danger"></span>
					</fieldset>
					<button type="button" class="btn btn-danger m-1" onclick="Remove(this)">Delete</button>
				</article>
			}

		}
	</footer>
	<input class="btn btn-primary m-3" type="submit" onclick="validate()" value="Save"/>

</form>

<a class="btn btn-link" asp-action="Index">Back to list</a>
